@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Pathway Gothic One', sans-serif;
}
.intro{
  background-color: #2b2b2b;
  display: flex;
}
.login-page{
  display: none;
  background-color: #f5f5f5;
  height: 100vh;
}
.login-page form{
  width: 60%;
}
.pulse {
  animation: pulse 1.5s infinite;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.header img{
  margin-top: 1vw;
}
.header h1{
  margin-top: 1vw;
  margin-left: 1vh;
  color: #5E0000;
}
form{
  border: 2px solid #9E9577;
  border-radius: 10px;
  margin: 1%;
}
form legend{
  color: #5E0000;
  margin-top: 2vh;
}
.form{
  height: 2px;
  background-color: #9E9577;
}
.login-page button{
  background-color: #e2d9ba;
  color: #5E0000;
}
.box{
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  margin: 5px 0;
  border-radius: 3px;
  width: 90%;
  margin: 0 auto; 
}
.box-post{
  margin-bottom: 5px;
}
.posts .box{
  padding: 20px 50px;
  margin-bottom: 5px;
  font-size: 18px;
  position: relative;
  transition: box-shadow 0.2s ease-out;
  animation: fadeIn 0.8s ease-in-out;
}
.posts .box:hover{
  box-shadow: 0 8px 25px 0 rgba(0,0,0,0.4);
}
.posts .box p{
  display: block;
  word-wrap: break-word;
}
.posts-input{
  resize: none;
  font-size: 18px;
  overflow: hidden;
  width: 100%;
  border-bottom: 2px solid #c9c9c9;
}
.tweet-input:focus{
  border-bottom: 2px solid #1da1f2;
  outline: 0;
}
.btn-post{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1da1f2;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
}
.btn-post:hover, .btn-post:focus{
  background-color: #0F557F;
  cursor: pointer;
  outline: 0;
}

.buttons-feed{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

option i{
  margin-right: 1vw;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(200%);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(1.2);
    filter: brightness(150%);
 }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(40deg);
  }
}

