@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Pathway Gothic One', sans-serif;
}

.intro{
  background-color: #2b2b2b;
  display: flex;
  height: 100vh;
}
.login-page{
  display: none;
  background-color: #f5f5f5;
}
.login-page form{
  width: 65%;
}
.pulse {
  animation: pulse 1.5s infinite;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.header img{
  margin-top: 1vw;
}
.header h1{
  margin-top: 1vw;
  margin-left: 1vh;
  color: #5E0000;
}
.login, .register{
  border: 1px solid rgb(209, 201, 174);
  border-radius: 10px;
  margin: 5px;
  padding: 20px;

}
.login legend, .register legend{
  color: #5E0000;
  margin-top: 2vh;
}
.login-page button{
  background-color: #e2d9ba;
  color: #5E0000;
}
.box{
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  margin: 5px 0;
  border-radius: 3px;
  width: 90%;
  margin: 0 auto; 
}
.box-post{
  margin-bottom: 5px;
}
.posts .box{
  padding: 20px 50px;
  margin-bottom: 5px;
  font-size: 18px;
  position: relative;
  transition: box-shadow 0.2s ease-out;
  animation: fadeIn 0.8s ease-in-out;
}
.posts .box:hover{
  box-shadow: 0 8px 25px 0 rgba(0,0,0,0.4);
}
.posts .box p{
  display: block;
  word-wrap: break-word;
}
.posts-input{
  resize: none;
  font-size: 18px;
  overflow: hidden;
  width: 100%;
  border-bottom: 2px solid #c9c9c9;
}
.posts-input:focus{
  border-bottom: 2px solid #5E0000;
  outline: 0;
}
.btn{
  padding: 10px !important; 
}
.btn-post{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #5E0000;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
}
.btn-post:hover, .btn-post:focus{
  background-color: rgba(94, 0, 0, 0.637);
  cursor: pointer;
  outline: 0;
}
select:focus, option:focus{
  outline-color: #5E0000;
}
.buttons-feed{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit, .delete, .save-changes{
  border-radius: 5px;
  padding: 2px 3px;
  margin-left: 1%;
}

.btn-option{
  background-color: #5E0000;
  color: #fff;
  font-weight: 600;
}

.btn-option:hover, .btn-option:focus{
  background-color: rgba(94, 0, 0, 0.637);
  cursor: pointer;
  outline: 0;
}

.btn-option i{
  margin-right: 1vh;
}
.user-box{
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  padding: 15px 10px;
  margin: 5px 0;
  border-radius: 3px;
}
li{
  list-style: none;
}
#friends{
  width: 90%;
  margin: 10px auto;
}
.btn-follow{
  background-color: #120c47;
  border-radius: 3px;
  padding: 10px;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(200%);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(1.2);
    filter: brightness(150%);
 }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(40deg);
  }
}

@media screen and (max-width: 482px){
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}